    <script src="/js/main.js"></script>
    <script>
        setTimeout(() => {
            const fc = document.getElementById('flash-container');
            if(fc) { fc.style.opacity = '0'; setTimeout(() => fc.remove(), 500); }
        }, 5000);
    </script>
</body>
</html>
